// SpaceGrotesk

@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-SemiBold';
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
 }

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff2') format('woff2'),
       url('../assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

 // PP-Neue-Montreal

@font-face {
  font-family: 'PPNeueMontreal-Bold';
  src: url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Bold.woff2') format('woff2'),
  url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal-Medium';
  src: url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Medium.woff2') format('woff2'),
  url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal-Regular';
  src: url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Regular.woff2') format('woff2'),
  url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMontreal-Book';
  src: url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Book.woff2') format('woff2'),
  url('../assets/fonts/PP-Neue-Montreal/PPNeueMontreal-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

// PP-NeueBit

@font-face {
  font-family: 'PPNeueBit-Bold';
  src: url('../assets/fonts/PP-NeueBit/PPNeueBit-Bold.woff2') format('woff2'),
  url('../assets/fonts/PP-NeueBit/PPNeueBit-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueBit-Regular';
  src: url('../assets/fonts/PP-NeueBit/PPMondwest-Regular.woff2') format('woff2'),
  url('../assets/fonts/PP-NeueBit/PPMondwest-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}