$bg-dark: #121212;
$bg-darker: #0a0a0a;
$text-white: #ffffff;
$text-gray: #acacac;
$accent-color: #FD2B01;

$main-font: 'SpaceGrotesk-SemiBold', sans-serif;
$secondary-font: 'SpaceGrotesk-Regular', sans-serif;


$border-radius-btn: 100px;
$border-radius-container: 20px;

$font-size-base: 18px;
$font-size-lg: 28px;
$font-size-xl: 32px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$mobile: 576px;

$transition-fast: all 0.15s ease-in;
$transition-medium: all 0.3s ease;
$transition-slow: all 0.5s ease-out;